<template>
  <Table :data="rows"></Table>  
</template>

<script>
import Table from './components/Table';

export default {
  name: 'App',
  components: {
    Table,
  },

  data: () => {
    return {     
      rows:[]      
    }    
  },

  mounted() {
    fetch('https://fpcstat.cz/api/pl/opuszczanie')
    .then(reponse => {        
        return reponse.json()
      }
    )
    .then( json =>  {
        this.rows = json                
      }
    )
  }
}
</script>
